:root {
    --couleur-primaire : #0E6270;
}
/* CSS de l'affichage des mini-sites Framalibre*/
.framalibre-notice {
  display: flex;
  background-color: white;
  border: 4px solid;
  border-color: var(--couleur-primaire);
  border-radius: 0.25rem;
}

.framalibre-notice:not(:last-child) {
  margin-bottom: 3rem;
}

.framalibre-notice > div {
  padding: 1.25rem;
}

.framalibre-notice > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 25%;
}

.framalibre-notice img {
  max-width: 70%;
}

.framalibre-notice > div:last-of-type > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.framalibre-notice a {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  color: var(--couleur-primaire);
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  border: 1px solid var(--couleur-primaire);
  background-color: transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.framalibre-notice a:hover {
  color: #fff;
  background-color: var(--couleur-primaire);
  border-color: var(--couleur-primaire);
}

@media (max-width: 768px) {
  .framalibre-notice {
    flex-direction: column;
  }
}

/* Annulation effet CSS de base */
--underline-img: none;